<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JTCtracker</title>
    
    <!-- Link to an external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>JTCTracker</header>

    <!-- Content block for child templates -->
    {% block body %}
    {% endblock %}
    <!-- Your HTML content here -->
    <script>
        document.querySelectorAll('.truck-btn').forEach(button => {
            button.addEventListener('click', () => {
                const truck = button.getAttribute('data-truck');
                const img = document.getElementById('truck-image');
                img.src = `static/${truck}.png`;
            });
        });
    </script>

</body>
</html>
